@font-face {
  font-family: 'Hanken Grotesk';
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
}

:root {
  --category-opacity: 10%;

  --primary-1: 0, 100%, 67%;
  --clr-primary-1: hsla(var(--primary-1), 100%);
  --clr-primary-1-bg: hsla(var(--primary-1), var(--category-opacity));

  --primary-2: 39, 100%, 56%;
  --clr-primary-2: hsla(var(--primary-2), 100%);
  --clr-primary-2-bg: hsla(var(--primary-2), var(--category-opacity));

  --primary-3: 166, 100%, 37%;
  --clr-primary-3: hsla(var(--primary-3), 100%);
  --clr-primary-3-bg: hsla(var(--primary-3), var(--category-opacity));

  --primary-4: 234, 85%, 45%;
  --clr-primary-4: hsla(var(--primary-4), 100%);
  --clr-primary-4-bg: hsla(var(--primary-4), var(--category-opacity));

  --clr-gradient-bg-blue1: hsl(252, 100%, 67%);
  --clr-gradient-bg-blue2: hsl(241, 81%, 54%);

  --clr-gradient-circle-blue1: hsla(256, 72%, 46%, 1);
  --clr-gradient-circle-blue2: hsla(241, 72%, 46%, 0);

  --clr-white: hsl(0, 0%, 100%);
  --clr-pale-blue: hsl(221, 100%, 96%);
  --clr-light-lavender: hsl(241, 100%, 89%);
  --clr-dark-grey-blue: hsl(224, 30%, 27%);

  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  font-weight: var(--fw-500);
}

main {
  background: var(--clr-white);
}

.results-container {
  padding: 1.5em 3em 2em;

  background: linear-gradient(var(--clr-gradient-bg-blue1), var(--clr-gradient-bg-blue2));
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;

  color: var(--clr-light-lavender);
  text-align: center;

  display: grid;
  place-items: center;
  gap: 1em;

  & p {
    font-size: 0.95rem;
    font-weight: var(--fw-700);
  }

  & h1 {
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--clr-white);
  }

  & .results-title {
    font-weight: var(--fw-800);
  }
}

.total-score {
  padding: 1em;

  width: 50%;
  aspect-ratio: 1;

  background: linear-gradient(var(--clr-gradient-circle-blue1), var(--clr-gradient-circle-blue2));
  border-radius: 50%;

  display: grid;
  place-items: center;

  & p {
    margin-top: -1em;
    font-size: 0.9rem;
    opacity: 50%;
  }
}

.results-score {
  color: var(--clr-white);
  font-size: 3rem;
  font-weight: var(--fw-800);
}

.summary-container {
  padding: 2em;

  display: grid;
  gap: 1em;

  & h1 {
    color: var(--clr-dark-grey-blue);
    font-weight: var(--fw-700);
  }

  & button {
    padding: 1em;

    background: var(--clr-dark-grey-blue);
    border-radius: 2em;

    color: var(--clr-white);
    font-weight: var(--fw-700);
  }

  & button:hover {
    background: linear-gradient(var(--clr-gradient-bg-blue1), var(--clr-gradient-bg-blue2));
  }
}

.category-list {
  display: grid;
  gap: 1.5em;
}

.category {
  padding: 1em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 0.95rem;
  font-weight: var(--fw-700);
  color: var(--clr-light-lavender);

  border-radius: 0.5em;
}

.category:nth-child(1) {
  background: var(--clr-primary-1-bg);
}

.category:nth-child(2) {
  background: var(--clr-primary-2-bg);
}

.category:nth-child(3) {
  background: var(--clr-primary-3-bg);
}

.category:nth-child(4) {
  background: var(--clr-primary-4-bg);
}

.sum-score {
  & span {
    color: var(--clr-dark-grey-blue);
  }
}

.icon {
  width: 20px;
  aspect-ratio: 1;

  & span {
    margin-left: 2.25em;
  }
}

.icon-1 {
  background: url(./assets/images/icon-reaction.svg) no-repeat center center;
  color: var(--clr-primary-1);
}

.icon-2 {
  background: url(./assets/images/icon-memory.svg) no-repeat center center;
  color: var(--clr-primary-2);
}

.icon-3 {
  background: url(./assets/images/icon-verbal.svg) no-repeat center center;
  color: var(--clr-primary-3);
}

.icon-4 {
  background: url(./assets/images/icon-visual.svg) no-repeat center center;
  color: var(--clr-primary-4);
}

@media (min-width: 30em) {
  body {
    display: grid;
  }

  main {
    max-width: 40em;

    margin: auto;

    place-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 2em;
    filter: drop-shadow(0 0 0.75rem var(--clr-light-lavender));
  }

  .results-container {
    border-radius: 2em;
  }
}
